Setting ForwardPAI to true will anonymise calls

Outbound call from Teams to PSTN show as Anonymous when ForwardPAI is enabled on the CSOnlinePSTNGateway.
We noticed that not only Teams sends the PAI but also includes a privacy ID...
Don't know the reason for adding the privacy ID, but this behaviour should be documented, as not really expected...


---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63a495ab-16d4-4f7f-d17e-5b1a9779247f
* Version Independent ID: cf4bfc0e-fd8d-d5ca-5432-798af72a8885
* Content: [Set-CsOnlinePSTNGateway (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/set-csonlinepstngateway?view=skype-ps#feedback)
* Content Source: [skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md](https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md)
* Service: **skypeforbusiness-powershell**
* GitHub Login: @kenwith
* Microsoft Alias: **kenwith**

@officedocsbot assign @yogkumgit

Hello @bertrandsophie 
Thanks for your feedback.

To give some context

According to [RFC3325](https://tools.ietf.org/html/rfc3325)

>    Parties who wish to request the removal of P-Asserted-Identity header
   fields before they are transmitted to an element that is not trusted
   may add the "id" privacy token defined in this document to the
   Privacy header field.  The Privacy header field is defined in [6].
   If this token is present, proxies MUST remove all the P-Asserted-
   Identity header fields before forwarding messages to elements that
   are not trusted.  If the Privacy header field value is set to "none"
   then the proxy MUST NOT remove the P-Asserted-Identity header fields.

So I would guess that the reason to add the privacy id is to be sure that this field does not get thru untrusted domains.

According to [RFC5379](https://tools.ietf.org/html/rfc5379) 
 >    A user agent executing a user-level privacy function on its own
   SHOULD anonymize a From header using an anonymous display-name and an
   anonymous URI as indicated in Section 4.1 in RFC 3323.
   A privacy service should anonymize a From header when user privacy is
   requested with Privacy:user.
 
If I understand correctly, you suggest that the use of forwardPAI (and therefore privacy: id) should warn in the documentation that this will anonymize calls, but, imho this is implied reading those RFCs, so for this one I would like to get my colleague @dariomws opinion as a tiebreaker.

Thank you
 


Yes I suggest adding this comment because not everybody may have the different RFCs in mind (I did not)

I created a pull request proposing adding this information to the article, and I'll let the team decide if they accept it.
Thank you

@kenwith Please merge the PR #3704

@get-itips Thank you very much for the contribution and updating the documentation with PR. @bertrandsophie Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.


@officedocsbot close